<section style="background-color: #eee; ">

  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-12 col-xl-10">

        <div class="card">
          <div class="card-header p-3">
            <h5 class="mb-0"><b>Filter</b></h5>
            <span>
              <button type="button" class="btn btn-sm btn-secondary dropdown-toggle dropdown-toggle-split"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="sr-only">Status</span>
              </button>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Checking</a>
                <a class="dropdown-item" href="#">Delivering</a>
                <a class="dropdown-item" href="#">Delivered</a>
                                <a class="dropdown-item" href="#">Fail</a>

              </div>
            </span>
            <span>
              <button type="button" class="btn btn-sm btn-secondary dropdown-toggle dropdown-toggle-split"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="sr-only">Last Buy</span>
              </button>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="#">All</a>
                <a class="dropdown-item" href="#">0-5 days</a>
                <a class="dropdown-item" href="#">1 month</a>
                <a class="dropdown-item" href="#">1-6 months</a>
                <a class="dropdown-item" href="#">1 year</a>
                <a class="dropdown-item" href="#">more than 1 year</a>
              </div>
            </span>
            <span>
              <button type="button" class="btn btn-sm btn-secondary dropdown-toggle dropdown-toggle-split"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="sr-only">Got Report</span>
              </button>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Yes</a>
                <a class="dropdown-item" href="#">No</a>
                <a class="dropdown-item" href="#">All</a>

              </div>
            </span>
            <span>
              <button type="button" class="btn btn-sm btn-secondary dropdown-toggle dropdown-toggle-split"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="sr-only">Origin</span>
              </button>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="#">All</a>
                <row class="row justify-content-center"> <input class="col-10" type="text" placeholder="Origin"></a>
                </row>

              </div>
            </span>
             <span>
              <button type="button" class="btn btn-sm btn-secondary dropdown-toggle dropdown-toggle-split"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="sr-only">Type</span>
              </button>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="#">All</a>
                <a class="dropdown-item" href="#">Shoes</a>
                <a class="dropdown-item" href="#">Clothes</a>
                <a class="dropdown-item" href="#">Watches</a>
                <a class="dropdown-item" href="#">Phones</a>
                <a class="dropdown-item" href="#">Televisions</a>
                 <row class="row justify-content-center"> <input class="col-10" type="text" placeholder="Type"></a>

              </div>
            </span>
             <span>
              <button type="button" class="btn btn-sm btn-secondary dropdown-toggle dropdown-toggle-split"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="sr-only">Producer</span>
              </button>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Apple</a>
                <a class="dropdown-item" href="#">Samsung</a>
                <a class="dropdown-item" href="#">Xiaomi</a>
 <row class="row justify-content-center"> <input class="col-10" type="text" placeholder="Producer"></a>
                </row>
              </div>
            </span>
            <span>
              <button type="button" class="btn btn-sm btn-secondary dropdown-toggle dropdown-toggle-split"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="sr-only">Price</span>
              </button>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="#">All</a>
                <row class="justify-content-center"> <span><input type="text" placeholder="min" /> </span> to <span><input type="text" placeholder="max" /> </span> </row>
              </div>
            </span>
          </div>
          <div class="card-body" data-mdb-perfect-scrollbar="true" style="position: relative; ">

            <table class="table mb-0">
              <thead>
                <tr>
                  <th scope="col">Id</th>
                  <th scope="col">Infos</th>
                  <th scope="col">Status</th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody>
                <tr class="fw-normal">
                  <th>
                    <img src="assets/img/c.jpg" class="shadow-1-strong rounded-circle" alt="avatar 1"
                      style="width: 55px; height: auto;">
                    <a href="/product/details"> <span class="ms-2">DH90002</span></a>
                  </th>
                  <td class="align-middle">
                   <a href="/user/details"> <b>Seller: Phustyri</b></a> (P7 Q8 TPHCM)  <br /> <a href="/user/details"><b>Buyer: Den Vau</b></a> (Ktx Dai hoc quoc gia linh trung, thu duc)
                  </td>
                  <td class="align-middle">
                    <h6 class="mb-0"><span class="badge bg-info">Delivering</span></h6>
                  </td>
                  <td class="align-middle">
                   
                    <span><button type="button" class="btn btn-danger">Block</button></span>
                    <span> <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"></span>
                  </td>
                </tr>
                <tr class="fw-normal">
                  <th>
                    <img src="assets/img/a.jpg" class="shadow-1-strong rounded-circle" alt="avatar 1"
                      style="width: 55px; height: auto;">
                    <a href="/product/details"> <span class="ms-2">DH78898</span></a>
                  </th>
                  <td class="align-middle">
                   <a href="/user/details"> <b>Seller: Phustyri</b></a> (P7 Q8 TPHCM)  <br /> <a href="/user/details"><b>Buyer: Den Vau</b></a> (Ktx Dai hoc quoc gia linh trung, thu duc)
                  </td>
                  <td class="align-middle">
                    <h6 class="mb-0"><span class="badge bg-info">Delivering</span></h6>
                  </td>
                  <td class="align-middle">
                    
                    <span><button type="button" class="btn btn-danger">Block</button></span>
                    <span> <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"></span>
                  </td>
                </tr>
                <tr class="fw-normal">
                  <th>
                    <img src="assets/img/b.jpg" class="shadow-1-strong rounded-circle" alt="avatar 1"
                      style="width: 55px; height: auto;">
                    <a href="/product/details"> <span class="ms-2">DH89899</span></a>
                  </th>
                  <td class="align-middle">
                   <a href="/user/details"> <b>Seller: Phustyri</b></a> (P7 Q8 TPHCM)  <br /> <a href="/user/details"><b>Buyer: Den Vau</b></a> (Ktx Dai hoc quoc gia linh trung, thu duc)
                    </span><span><br /> Last buy: 6 days <br /></span>
                  </td>
                  <td class="align-middle">
                    <h6 class="mb-0"><span class="badge bg-dark">Deliverd</span></h6>
                  </td>
                  <td class="align-middle">
                    
                    <span><button type="button" class="btn btn-danger">Block</button></span>
                    <span> <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"></span>
                  </td>
                </tr>
                <tr class="fw-normal">
                  <th>
                    <img src="assets/img/d.jpg" class="shadow-1-strong rounded-circle" alt="avatar 1"
                      style="width: 55px; height: auto;">
                    <a href="/product/details"> <span class="ms-2">DH19000</span></a>
                  </th>
                  <td class="align-middle">
                   <a href="/user/details"> <b>Seller: Phustyri</b></a> (P7 Q8 TPHCM)  <br /> <a href="/user/details"><b>Buyer: Den Vau</b></a> (Ktx Dai hoc quoc gia linh trung, thu duc)
                  </td>
                  <td class="align-middle">
                    <h6 class="mb-0"><span class="badge bg-info">Delivering</span></h6>
                  </td>
                  <td class="align-middle">
                    
                    <span><button type="button" class="btn btn-danger">Block</button></span>
                    <span> <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"></span>
                  </td>
                </tr>
                <tr class="fw-normal">
                  <th>
                    <img src="assets/img/e.jpg" class="shadow-1-strong rounded-circle" alt="avatar 1"
                      style="width: 55px; height: auto;">
                    <a href="/product/details"> <span class="ms-2">DH782132</span></a>
                  </th>
                  <td class="align-middle">
                   <a href="/user/details"> <b>Seller: Phustyri</b></a> (P7 Q8 TPHCM)  <br /> <a href="/user/details"><b>Buyer: Den Vau</b></a> (Ktx Dai hoc quoc gia linh trung, thu duc)
                    </span><span><br /> Last buy: 6 days <br /></span>
                  </td>
                  <td class="align-middle">
                    <h6 class="mb-0"><span class="badge bg-dark">Delivered</span></h6>
                  </td>
                  <td class="align-middle">
                    
                    <span><button type="button" class="btn btn-danger">Block</button></span>
                    <span> <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"></span>
                  </td>
                </tr>
              </tbody>
            </table>
            <div>
              <nav aria-label="...">
                <ul class="pagination justify-content-center">
                  <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1">Previous</a>
                  </li>
                  <li class="page-item"><a class="page-link" href="#">1</a></li>
                  <li class="page-item active">
                    <a class="page-link" href="#">2 <span class="sr-only"></span></a>
                  </li>
                  <li class="page-item"><a class="page-link" href="#">3</a></li>
                  <li class="page-item">
                    <a class="page-link" href="#">Next</a>
                  </li>
                </ul>
              </nav>
            </div>
            <div class="card-footer text-end ">
              <button class="btn btn-danger">Quick Block </button>
            </div>

          </div>

        </div>

      </div>
    </div>
  </div>
</section>
<style>
  a {
    text-decoration: none;
    color: black;
  }

  body {
    background-color: #eee;
  }
</style>